<ul class="nav nav-pills">
    <li class="nav-item gap-3">@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li class="nav-item gap-3">@Html.ActionLink("Productos", "Index", "Producto")</li>
    <li class="nav-item gap-3">@Html.ActionLink("Categorías", "Index", "Categoria")</li>
</ul>
